/* Global */

img {width:50% 
}

body {background-image: url('tree_bark.png');

}  
h1{
    font-family: 'Quicksand', sans-serif;
}



/* Layout */



/* Typography */

/* Navigation */

a {
background: 
    border-radius: 50px;
    display: block;
    height: 100px;
    width: 100px;
    
}

li {

    display: inline-block;

}
